.button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #137297;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button:active {
    background-color: #137796;
  }
  