<div class="d-flex flex-wrap justify-content-center">
  <button class="btn btn-secondary" (click)="sumar()">+</button>
  <button class="btn btn-secondary" (click)="restar()">-</button>
  <button class="btn btn-secondary" (click)="potenciar()">^</button>
  <button class="btn btn-secondary" (click)="multiplicar()">x</button>
  <button class="btn btn-secondary" (click)="dividir()">÷</button>
  <button class="btn btn-secondary" (click)="raiz()"> √</button>
  <button class="btn btn-secondary" (click)="limpiar()">CE</button>
</div>