.container {
    border: 1px solid #000;
    padding: 30px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[disabled] {
    background-color: #eee;
    color: #666;
  }
  
  